<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="map" style="width:100%;height:350px;"></div>

    <form action="/subWEB/res/">
        <input type="text" name="alert">
        <input type="submit" value="검색">

        <div id="point_lat" ></div>
        <div id="point_lng" ></div>
    </form>

    <form>
        <label> 재난 문자 : {{alert_text}} </label><br>
        <label> 재난 유형 : {{disaster}} </label><br>
        <label> 재난 문자 : {{point_lat}} </label><br>
        <label> 재난 유형 : {{point_lng}} </label><br>

        <br><br><br>

        <label> 대피소 이름 : {{shelter_name}} </label><br>
        <label> 대피소 위도 : {{shelter_lat}} </label><br>
        <label> 대피소 경도 : {{shelter_lng}} </label><br>
        <label> 대피소 도로명주소 : {{shelter_addr}} </label><br>
    </form>

    <div id="navi_map" style="width:100%;height:350px;"></div>




</body>
</html>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0074d619c874d8b55466fd43cd847c72"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
var LatLng = [];

// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {

    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {

        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

        LatLng.push(lat)
        LatLng.push(lon)
        console.log('현재 위치 위경도 : ' , LatLng)

        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">여기에 계신가요?!</div>',
            //lat_html = '<div > 현재 위도 : '+lat+'</div>',
            //lng_html = '<div > 현재 경도 : '+lon+'</div>';
            lat_html = '<input type="hidden" name="here_lat" value='+lat +' readonly > ',
            lng_html = '<input type="hidden" name="here_lng" value='+lon +' readonly >';


        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message ,lat_html,lng_html);

      });

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
        message = 'geolocation을 사용할수 없어요..',
        //lat_html = '<div ></div>',
        //lng_html = '<div ></div>';
        lat_html = '<input type="hidden" name="here_lat" value=""> ',
        lng_html = '<input type="hidden" name="here_lng" value="" > ';

    displayMarker(locPosition, message,lat_html,lng_html);
}


// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message,lat_html,lng_html) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: locPosition,
    });

    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });

    // 인포윈도우를 마커위에 표시합니다
    //infowindow.open(map, marker);

    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);

    const element = document.getElementById('point_lat');
    element.innerHTML += lat_html;

    const element2 = document.getElementById('point_lng');
    element2.innerHTML += lng_html;
}

//===============================================================

var navi_mapContainer = document.getElementById('navi_map'), // 지도를 표시할 div
    navi_mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var navi_map = new kakao.maps.Map(navi_mapContainer, navi_mapOption);

// 주소-좌표 변환 객체를 생성합니다
var navi_geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        var navi_coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var navi_marker = new kakao.maps.Marker({
            map: navi_map,
            position: navi_coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var navi_infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
        });
        navi_infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(navi_coords);
    }
});

</script>